.header{
    background-color: var(--primary);
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 5px 2px ;
}

.logo{
    width: 100px;
    height: 50px;
    background-color: #FFFFFF;
    align-self: center;
}
.nav{
    display: flex;
    gap: 24px;
}
.center-inline{
    margin: auto;
}
.menu-items{
    display: flex;
}
.menu-item a{
    margin-right: 16px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.menu-item a.active{
    text-decoration: underline;
    color: white;
}
.notification{
    display: flex;
    gap: 10px;
    align-self: center;
    margin-right: 6px;
}
.notification-freame{
    position: relative;
    width: 39px;
    height: 35px;
    display: flex;
    align-items: end;    
}
.notification-icon{

    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-icon a {
    line-height: 10px;
}
.notification-new{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFFFFF;
    top: -1px;
    right: 0px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
}

.notification-icon .svg-exclamation{
    width: 20px;
    height: 22px;
}

.notification-icon .svg-raising{
    width: 18px;
    height: 15px;
}
.search-profil{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 9px;
}
.user{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: right;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.search-user select{
    padding: 0 5px 0 5px;
    width: 100px;
    height: 26px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 5px;
}
select:required {
    color: gray;
  }
.profil{
    width: 50px;
    height: 50px;
    align-self: center;
}
