@import url(./header.css);
:root{
    --primary: #FFA500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    display: none;
}
.container_main{
    background-color: aquamarine;/*--------------------------------------------------------*/
    position: relative;

}
.wraper_form{
    position: absolute;
    width: 927px;
    height: 945px;
    right: 0;
    top: 30px;
    width: 300px;
    
    background: #FBFBFB;
    border-radius: 0px;
}


.action{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10px;/*///////////////////////////////////////////////////////////////*/
}
.action-svg_fream{
    width: 34px;
    height: 35px;
    
    background: #FFFFFF;
}
.action-svg_fream svg{
    width: 20px;
    height: 20px;
}

.bgcol{

}
.form{
    display: flex;
    flex-direction: column;
}
input{
    margin-bottom: 20px;
}

.wtaper_db{
    position: absolute;
    top: 100px;
    left: 0;
    background-color: blueviolet;
    border: 1px solid black;
}
th, td{
    border: 1px solid black;
}
svg{
    max-width: 50px;
}